Repository cake-contrib/Cake.Warp: changes, and which Mergify rules are due for each by the changed paths.
All: Add Documentation label for documentation changes, but not in source, Add build label when no change in source, and not in documentation

Add Documentation label for documentation changes, but not in source:
  label:
    add:
    - Documentation

Add build label when no change in source, and not in documentation:
  label:
    add:
    - Build

Update .mergify.yml
  .mergify.yml
Due: Add build label when no change in source, and not in documentation

(maint) Created configuration class to hold common addin values
  src/Cake.Warp/Class1.cs
  src/Cake.Warp/Common/AddinConfiguration.cs
Due: none

(GH-4) Added ability to save warp file to disk on library load
  src/Cake.Warp.IntegrationTests/ModuleInitiazerTests.cs
  src/Cake.Warp/Cake.Warp.csproj
  src/Cake.Warp/Common/AddinConfiguration.cs
  src/Cake.Warp/FodyWeavers.xml
  src/Cake.Warp/FodyWeavers.xsd
  src/Cake.Warp/ModuleInitializer.cs
Due: none

(GH-4) Updated to set executable bit on unix platforms
  src/Cake.Warp.IntegrationTests/ModuleInitiazerTests.cs
  src/Cake.Warp/ModuleInitializer.cs
Due: none

(GH-4) Added module initializer using ModuleInit..Fody
  src/Cake.Warp.IntegrationTests/ModuleInitiazerTests.cs
  src/Cake.Warp.IntegrationTests/UnitTest1.cs
  src/Cake.Warp/Cake.Warp.csproj
  src/Cake.Warp/FodyWeavers.xml
  src/Cake.Warp/FodyWeavers.xsd
  src/Cake.Warp/ModuleInitializer.cs
Due: none

(build) Fixed compilation issue on windows
  src/Cake.Warp/Cake.Warp.csproj
Due: none

(build) Updated classes to conform to stylecop
  src/Cake.Warp.IntegrationTests/ModuleInitiazerTests.cs
  src/Cake.Warp/Common/AddinConfiguration.cs
  src/Cake.Warp/ModuleInitializer.cs
Due: none

(GH-4) Added a check to see if the file already exist
  src/Cake.Warp/ModuleInitializer.cs
Due: none

(GH-7) Created basic settings class for warp
  src/Cake.Warp/WarpPlatforms.cs
  src/Cake.Warp/WarpSettings.cs
  src/Cake.Warp/stylecop.json
Due: none

(GH-7) Set path to warp binary by default
  .vscode/tasks.json
  src/Cake.Warp.IntegrationTests/ModuleInitiazerTests.cs
  src/Cake.Warp.Tests/UnitTest1.cs
  src/Cake.Warp.Tests/WarpSettingsTests.cs
  src/Cake.Warp/WarpSettings.cs
Due: none

(build) Enabled codecov coverage report
  recipe.cake
Due: Add build label when no change in source, and not in documentation

(doc) Added new label to git release manager
  GitReleaseManager.yaml
Due: Add build label when no change in source, and not in documentation

(build) Updated test coverage filter
  recipe.cake
Due: Add build label when no change in source, and not in documentation

(build) Fixed resharper issues
  .appveyor.yml
  .vscode/tasks.json
  src/Cake.Warp.Demo/Program.cs
  src/Cake.Warp.IntegrationTests/ModuleInitiazerTests.cs
  src/Cake.Warp.sln.DotSettings
  src/Cake.Warp/Cake.Warp.csproj
  src/Cake.Warp/Common/AddinConfiguration.cs
  src/Cake.Warp/ModuleInitializer.cs
  src/Cake.Warp/WarpPlatforms.cs
  src/Cake.Warp/WarpSettings.cs
Due: none

(GH-12) Implemented the warp tool runner
  src/Cake.Warp.Tests/WarpRunnerFixture.cs
  src/Cake.Warp.Tests/WarpRunnerTests.cs
  src/Cake.Warp/AssemblyInfo.cs
  src/Cake.Warp/WarpPlatforms.cs
  src/Cake.Warp/WarpRunner.cs
  src/Cake.Warp/WarpSettings.cs
Due: none

(GH-12) Added basic validation of runner arguments
  src/Cake.Warp.Tests/WarpRunnerTests.cs
  src/Cake.Warp/WarpRunner.cs
Due: none

(build) Resharper + windows fixes
  src/Cake.Warp.Tests/WarpRunnerFixture.cs
  src/Cake.Warp.Tests/WarpRunnerTests.cs
  src/Cake.Warp.Tests/WarpSettingsTests.cs
  src/Cake.Warp.sln.DotSettings
  src/Cake.Warp/WarpRunner.cs
Due: none

(build) Reverted appveyor image back to vs2017
  .appveyor.yml
Due: Add build label when no change in source, and not in documentation

(build) Updated codecov settings
  .codecov.yml
Due: Add build label when no change in source, and not in documentation

(GH-13) Added first draft of the wyam documentation
  .gitignore
  config.wyam
  docs/input/_Bottom.cshtml
  docs/input/_Footer.cshtml
  docs/input/assets/css/override.less
  docs/input/assets/images/clippy.svg
  docs/input/assets/js/anchor.min.js
  docs/input/assets/js/clipboard.min.js
  docs/input/docs/building/index.cshtml
  docs/input/docs/building/linux.md
  docs/input/docs/building/macos.md
  docs/input/docs/building/windows.md
  docs/input/docs/index.cshtml
  docs/input/docs/usage/contributing.md
  docs/input/docs/usage/index.cshtml
  docs/input/docs/usage/intro.md
  docs/input/index.cshtml
  recipe.cake
Due: Add Documentation label for documentation changes, but not in source

(docs) Added missing badges
  README.md
Due: Add Documentation label for documentation changes, but not in source

(docs) Added example usage to readme documentation
  README.md
Due: Add Documentation label for documentation changes, but not in source

(GH-6) Added the first two basic aliases
  src/Cake.Warp/WarpAliases.cs
Due: none

(docs) Corrected documentation in source files
  src/Cake.Warp/AssemblyInfo.cs
  src/Cake.Warp/WarpAliases.cs
  src/Cake.Warp/WarpPlatforms.cs
Due: none

(GH-16) Enabled dotnet pack in build script
  recipe.cake
Due: Add build label when no change in source, and not in documentation

(docs) Added missing link to codecov
  README.md
Due: Add Documentation label for documentation changes, but not in source

Added codecov to required status check in mergify
  .mergify.yml
Due: Add build label when no change in source, and not in documentation

Inital commit
  index.html
Due: Add build label when no change in source, and not in documentation

(docs) Added ability to create release notes
  GitReleaseManager.yaml
  recipe.cake
  src/Cake.Warp/Cake.Warp.csproj
Due: none

(GH-16) Added package metadata
  src/Cake.Warp.Demo/Cake.Warp.Demo.csproj
  src/Cake.Warp/Cake.Warp.csproj
Due: none

(build) Fixed stylecop issues
  src/Cake.Warp/WarpAliases.cs
Due: none

(docs) Added changelog file
  CHANGELOG.md
Due: Add build label when no change in source, and not in documentation

(docs) Disabled generation of milestone release notes
  recipe.cake
  src/Cake.Warp/Cake.Warp.csproj
Due: none

(docs) Updated changelog
  CHANGELOG.md
Due: Add build label when no change in source, and not in documentation

(build) Enabled nuget symbols package
  src/Cake.Warp/Cake.Warp.csproj
Due: none

(build) Enabled coverage report on unix platforms
  .build/codecov.cake
  .build/coveralls.cake
  .build/coverlet.cake
  .build/modules.cake
  recipe.cake
  src/Cake.Warp.IntegrationTests/Cake.Warp.IntegrationTests.csproj
  src/Cake.Warp.Tests/Cake.Warp.Tests.csproj
Due: Add build label when no change in source, and not in documentation

Path conditions:
  Add Documentation label for documentation changes, but not in source: (any of: ^(docs/.*|README.md|CODE_OF_CONDUCT.md|CONTRIBUTING.md)$) and (not (any of: ^src/Cake.Warp/.*$))
  Add build label when no change in source, and not in documentation: (not (any of: ^(docs/.*|README.md|CODE_OF_CONDUCT.md|CONTRIBUTING.md)$)) and (not (any of: ^src/Cake.Warp/.*$))
